<h1 class="text-center text-white mt-2 mb-5">Add Vehicle</h1>
<div class="container">
    <form class="text-white" #vehicleData="ngForm">

        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-3">
                <label>Vehicle_Name</label>
                <input type="text" class="form-control" id="vehicle_Name" name="vehicle_Name" [(ngModel)]="vehicle.vehicle_Name">
            </div>

            <div class="form-group col-md-3">
                <label>Vehicle_Model</label>
                <input type="text" class="form-control" id="vehicle_Model" name="vehicle_Model" [(ngModel)]="vehicle.vehicle_Model">
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-3">
                <label>Vehicle_Year</label>
                <input type="text" class="form-control" id="vehicle_Year" name="vehicle_Year" [(ngModel)]="vehicle.vehicle_Year">
            </div>
            <div class="form-group col-md-3">
                <label>Chassis_Number</label>
                <input type="text" class="form-control" id="chassis_Number" name="chassis_Number" [(ngModel)]="vehicle.chassis_Number">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="form-group col-md-3">
                <label>Registration_Number</label>
                <input type="text" class="form-control" id="registration_Number" name="registration_Number" [(ngModel)]="vehicle.registration_Number">
            </div>
            <div class="form-group col-md-3">
                <label>Fuel_Type </label>
                <select class="custom-select" [(ngModel)]="vehicle.fuel_Type" name="fuel_Type">
              <option selected value="">Choose fuel type</option>
              <option *ngFor="let fuel of fuels">{{fuel}}</option>
            </select>
            </div>
            <div class="col-md-3"></div>
        </div>

    </form>
    <div class="text-center mt-5">
        <button class="btn btn-success mr-2" type="submit" (click)="onSubmit()">Submit</button>
        <button class="btn btn-danger" routerLink="/vehicles" routerLinkActive="active">Cancel</button>

    </div>
</div>